.todo_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20%;
  align-items: center;
}
